Package: com.nottwitter.atproto
Name: Not Twitter
Version: 1.4
Architecture: iphoneos-arm64
Description: Standalone ATProto Bluesky client with Not Twitter branding.
Maintainer: NotTwitter
Author: NotTwitter
Section: Applications
