<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Not Twitter</string>
	<key>CFBundleExecutable</key>
	<string>NotTwitterAtproto</string>
	<key>CFBundleIdentifier</key>
	<string>com.nottwitter.atproto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Not Twitter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>144</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Take photos and videos to attach to your Tweets.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record sound for videos you attach to your Tweets.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Not Twitter needs photo library access so you can attach photos, GIFs, and videos to Tweets.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Chirp/Chirp-Regular.otf</string>
		<string>Chirp/Chirp-Medium.otf</string>
		<string>Chirp/Chirp-Bold.otf</string>
		<string>Chirp/Chirp-Heavy.otf</string>
		<string>Chirp/Chirp-UI-VF.ttf</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon_rounded</string>
		<string>logo192</string>
		<string>logo512</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nottwitter.atproto</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.github.nottwitterapp</string>
				<string>nottwitter-atproto</string>
				<string>neofreebird-atproto</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bsky</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ProductionAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ProductionAppIcon60x60</string>
					<string>ProductionAppIcon76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ProductionAppIcon</string>
			</dict>
			<key>Custom-Icon-001</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00160x60</string>
					<string>Custom-Icon-00176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-001</string>
			</dict>
			<key>Custom-Icon-002</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00260x60</string>
					<string>Custom-Icon-00276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-002</string>
			</dict>
			<key>Custom-Icon-003</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00360x60</string>
					<string>Custom-Icon-00376x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-003</string>
			</dict>
			<key>Custom-Icon-004</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00460x60</string>
					<string>Custom-Icon-00476x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-004</string>
			</dict>
			<key>Custom-Icon-005</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00560x60</string>
					<string>Custom-Icon-00576x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-005</string>
			</dict>
			<key>Custom-Icon-006</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00660x60</string>
					<string>Custom-Icon-00676x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-006</string>
			</dict>
			<key>Custom-Icon-007</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00760x60</string>
					<string>Custom-Icon-00776x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-007</string>
			</dict>
			<key>Custom-Icon-008</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00860x60</string>
					<string>Custom-Icon-00876x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-008</string>
			</dict>
			<key>Legacy-Icon-996</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-99657x57</string>
					<string>Legacy-Icon-99660x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legacy-Icon-996</string>
			</dict>
			<key>Legacy-Icon-997</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-997</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legacy-Icon-997</string>
			</dict>
			<key>Legacy-Icon-998</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-998</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legacy-Icon-998</string>
			</dict>
			<key>Legacy-Icon-999</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-999</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legacy-Icon-999</string>
			</dict>
			<key>Seasonal-Icon-Anzac</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Anzac60x60</string>
					<string>Seasonal-Icon-Anzac76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Anzac</string>
			</dict>
			<key>Seasonal-Icon-Autumn</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Autumn60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Autumn</string>
			</dict>
			<key>Seasonal-Icon-Autumn2021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Autumn202160x60</string>
					<string>Seasonal-Icon-Autumn202176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Autumn2021</string>
			</dict>
			<key>Seasonal-Icon-Autumn2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Autumn202260x60</string>
					<string>Seasonal-Icon-Autumn202276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Autumn2022</string>
			</dict>
			<key>Seasonal-Icon-Barbie</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Barbie60x60</string>
					<string>Seasonal-Icon-Barbie76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Barbie</string>
			</dict>
			<key>Seasonal-Icon-BeijingOlympics1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-BeijingOlympics160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-BeijingOlympics1</string>
			</dict>
			<key>Seasonal-Icon-BeijingOlympics2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-BeijingOlympics260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-BeijingOlympics2</string>
			</dict>
			<key>Seasonal-Icon-BlackHistory</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-BlackHistory60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-BlackHistory</string>
			</dict>
			<key>Seasonal-Icon-CanadaIndigenous</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-CanadaIndigenous60x60</string>
					<string>Seasonal-Icon-CanadaIndigenous76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-CanadaIndigenous</string>
			</dict>
			<key>Seasonal-Icon-Daytona</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Daytona60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Daytona</string>
			</dict>
			<key>Seasonal-Icon-EarthHour</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-EarthHour60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-EarthHour</string>
			</dict>
			<key>Seasonal-Icon-Easter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Easter60x60</string>
					<string>Seasonal-Icon-Easter76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Easter</string>
			</dict>
			<key>Seasonal-Icon-Euro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Euro60x60</string>
					<string>Seasonal-Icon-Euro76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Euro</string>
			</dict>
			<key>Seasonal-Icon-EurovisionFinal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-EurovisionFinal60x60</string>
					<string>Seasonal-Icon-EurovisionFinal76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-EurovisionFinal</string>
			</dict>
			<key>Seasonal-Icon-FormulaOne</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-FormulaOne60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-FormulaOne</string>
			</dict>
			<key>Seasonal-Icon-Halloween2021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Halloween202160x60</string>
					<string>Seasonal-Icon-Halloween202176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Halloween2021</string>
			</dict>
			<key>Seasonal-Icon-Halloween2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Halloween202260x60</string>
					<string>Seasonal-Icon-Halloween202276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Halloween2022</string>
			</dict>
			<key>Seasonal-Icon-Holi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Holi60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Holi</string>
			</dict>
			<key>Seasonal-Icon-Juneteenth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Juneteenth60x60</string>
					<string>Seasonal-Icon-Juneteenth76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Juneteenth</string>
			</dict>
			<key>Seasonal-Icon-KentuckyDerby</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-KentuckyDerby60x60</string>
					<string>Seasonal-Icon-KentuckyDerby76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-KentuckyDerby</string>
			</dict>
			<key>Seasonal-Icon-LunarNewYear1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-LunarNewYear160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-LunarNewYear1</string>
			</dict>
			<key>Seasonal-Icon-LunarNewYear2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-LunarNewYear260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-LunarNewYear2</string>
			</dict>
			<key>Seasonal-Icon-Masters</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Masters60x60</string>
					<string>Seasonal-Icon-Masters76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Masters</string>
			</dict>
			<key>Seasonal-Icon-MayTheFourth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-MayTheFourth60x60</string>
					<string>Seasonal-Icon-MayTheFourth76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-MayTheFourth</string>
			</dict>
			<key>Seasonal-Icon-Mlb</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Mlb60x60</string>
					<string>Seasonal-Icon-Mlb76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Mlb</string>
			</dict>
			<key>Seasonal-Icon-MothersDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-MothersDay60x60</string>
					<string>Seasonal-Icon-MothersDay76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-MothersDay</string>
			</dict>
			<key>Seasonal-Icon-NBAFinals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-NBAFinals60x60</string>
					<string>Seasonal-Icon-NBAFinals76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-NBAFinals</string>
			</dict>
			<key>Seasonal-Icon-Nba1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Nba160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Nba1</string>
			</dict>
			<key>Seasonal-Icon-Nba2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Nba260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Nba2</string>
			</dict>
			<key>Seasonal-Icon-Ncaa</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Ncaa60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Ncaa</string>
			</dict>
			<key>Seasonal-Icon-NewZealandPride1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-NewZealandPride160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-NewZealandPride1</string>
			</dict>
			<key>Seasonal-Icon-NewZealandPride2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-NewZealandPride260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-NewZealandPride2</string>
			</dict>
			<key>Seasonal-Icon-PrideMonth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-PrideMonth60x60</string>
					<string>Seasonal-Icon-PrideMonth76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-PrideMonth</string>
			</dict>
			<key>Seasonal-Icon-PrideSouthern</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-PrideSouthern60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-PrideSouthern</string>
			</dict>
			<key>Seasonal-Icon-Ramadan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Ramadan60x60</string>
					<string>Seasonal-Icon-Ramadan76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Ramadan</string>
			</dict>
			<key>Seasonal-Icon-SouthSpring2021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-SouthSpring202160x60</string>
					<string>Seasonal-Icon-SouthSpring202176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-SouthSpring2021</string>
			</dict>
			<key>Seasonal-Icon-SouthSpring2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-SouthSpring202260x60</string>
					<string>Seasonal-Icon-SouthSpring202276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-SouthSpring2022</string>
			</dict>
			<key>Seasonal-Icon-StPatricksDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-StPatricksDay60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-StPatricksDay</string>
			</dict>
			<key>Seasonal-Icon-StanleyCup</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-StanleyCup60x60</string>
					<string>Seasonal-Icon-StanleyCup76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-StanleyCup</string>
			</dict>
			<key>Seasonal-Icon-Summer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Summer60x60</string>
					<string>Seasonal-Icon-Summer76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Summer</string>
			</dict>
			<key>Seasonal-Icon-Summer1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Summer160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Summer1</string>
			</dict>
			<key>Seasonal-Icon-Summer2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Summer260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Summer2</string>
			</dict>
			<key>Seasonal-Icon-Thanksgiving1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Thanksgiving160x60</string>
					<string>Seasonal-Icon-Thanksgiving176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Thanksgiving1</string>
			</dict>
			<key>Seasonal-Icon-Thanksgiving2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Thanksgiving260x60</string>
					<string>Seasonal-Icon-Thanksgiving276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Thanksgiving2</string>
			</dict>
			<key>Seasonal-Icon-Winter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Winter60x60</string>
					<string>Seasonal-Icon-Winter76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Winter</string>
			</dict>
			<key>Seasonal-Icon-Winter1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Winter160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Winter1</string>
			</dict>
			<key>Seasonal-Icon-Winter2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Winter260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Winter2</string>
			</dict>
			<key>Seasonal-Icon-WomansDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-WomansDay60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-WomansDay</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon_rounded</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Icon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ProductionAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ProductionAppIcon60x60</string>
					<string>ProductionAppIcon76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ProductionAppIcon</string>
			</dict>
			<key>Custom-Icon-001</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00160x60</string>
					<string>Custom-Icon-00176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-001</string>
			</dict>
			<key>Custom-Icon-002</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00260x60</string>
					<string>Custom-Icon-00276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-002</string>
			</dict>
			<key>Custom-Icon-003</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00360x60</string>
					<string>Custom-Icon-00376x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-003</string>
			</dict>
			<key>Custom-Icon-004</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00460x60</string>
					<string>Custom-Icon-00476x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-004</string>
			</dict>
			<key>Custom-Icon-005</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00560x60</string>
					<string>Custom-Icon-00576x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-005</string>
			</dict>
			<key>Custom-Icon-006</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00660x60</string>
					<string>Custom-Icon-00676x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-006</string>
			</dict>
			<key>Custom-Icon-007</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00760x60</string>
					<string>Custom-Icon-00776x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-007</string>
			</dict>
			<key>Custom-Icon-008</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Custom-Icon-00860x60</string>
					<string>Custom-Icon-00876x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Custom-Icon-008</string>
			</dict>
			<key>Legacy-Icon-996</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-99672x72</string>
					<string>Legacy-Icon-99676x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legacy-Icon-996</string>
			</dict>
			<key>Legacy-Icon-997</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-997</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legacy-Icon-997</string>
			</dict>
			<key>Legacy-Icon-998</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-998</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legcy-Icon-998</string>
			</dict>
			<key>Legacy-Icon-999</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Legacy-Icon-999</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Legacy-Icon-999</string>
			</dict>
			<key>Seasonal-Icon-Anzac</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Anzac60x60</string>
					<string>Seasonal-Icon-Anzac76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Anzac</string>
			</dict>
			<key>Seasonal-Icon-Autumn</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Autumn60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Autumn</string>
			</dict>
			<key>Seasonal-Icon-Autumn2021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Autumn202160x60</string>
					<string>Seasonal-Icon-Autumn202176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Autumn2021</string>
			</dict>
			<key>Seasonal-Icon-Autumn2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Autumn202260x60</string>
					<string>Seasonal-Icon-Autumn202276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Autumn2022</string>
			</dict>
			<key>Seasonal-Icon-Barbie</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Barbie60x60</string>
					<string>Seasonal-Icon-Barbie76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Barbie</string>
			</dict>
			<key>Seasonal-Icon-BeijingOlympics1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-BeijingOlympics160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-BeijingOlympics1</string>
			</dict>
			<key>Seasonal-Icon-BeijingOlympics2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-BeijingOlympics260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-BeijingOlympics2</string>
			</dict>
			<key>Seasonal-Icon-BlackHistory</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-BlackHistory60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-BlackHistory</string>
			</dict>
			<key>Seasonal-Icon-CanadaIndigenous</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-CanadaIndigenous60x60</string>
					<string>Seasonal-Icon-CanadaIndigenous76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-CanadaIndigenous</string>
			</dict>
			<key>Seasonal-Icon-Daytona</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Daytona60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Daytona</string>
			</dict>
			<key>Seasonal-Icon-EarthHour</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-EarthHour60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-EarthHour</string>
			</dict>
			<key>Seasonal-Icon-Easter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Easter60x60</string>
					<string>Seasonal-Icon-Easter76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Easter</string>
			</dict>
			<key>Seasonal-Icon-Euro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Euro60x60</string>
					<string>Seasonal-Icon-Euro76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Euro</string>
			</dict>
			<key>Seasonal-Icon-EurovisionFinal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-EurovisionFinal60x60</string>
					<string>Seasonal-Icon-EurovisionFinal76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-EurovisionFinal</string>
			</dict>
			<key>Seasonal-Icon-FormulaOne</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-FormulaOne60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-FormulaOne</string>
			</dict>
			<key>Seasonal-Icon-Halloween2021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Halloween202160x60</string>
					<string>Seasonal-Icon-Halloween202176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Halloween2021</string>
			</dict>
			<key>Seasonal-Icon-Halloween2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Halloween202260x60</string>
					<string>Seasonal-Icon-Halloween202276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Halloween2022</string>
			</dict>
			<key>Seasonal-Icon-Holi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Holi60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Holi</string>
			</dict>
			<key>Seasonal-Icon-Juneteenth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Juneteenth60x60</string>
					<string>Seasonal-Icon-Juneteenth76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Juneteenth</string>
			</dict>
			<key>Seasonal-Icon-KentuckyDerby</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-KentuckyDerby60x60</string>
					<string>Seasonal-Icon-KentuckyDerby76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-KentuckyDerby</string>
			</dict>
			<key>Seasonal-Icon-LunarNewYear1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-LunarNewYear160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-LunarNewYear1</string>
			</dict>
			<key>Seasonal-Icon-LunarNewYear2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-LunarNewYear260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-LunarNewYear2</string>
			</dict>
			<key>Seasonal-Icon-Masters</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Masters60x60</string>
					<string>Seasonal-Icon-Masters76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Masters</string>
			</dict>
			<key>Seasonal-Icon-MayTheFourth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-MayTheFourth60x60</string>
					<string>Seasonal-Icon-MayTheFourth76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-MayTheFourth</string>
			</dict>
			<key>Seasonal-Icon-Mlb</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Mlb60x60</string>
					<string>Seasonal-Icon-Mlb76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Mlb</string>
			</dict>
			<key>Seasonal-Icon-MothersDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-MothersDay60x60</string>
					<string>Seasonal-Icon-MothersDay76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-MothersDay</string>
			</dict>
			<key>Seasonal-Icon-NBAFinals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-NBAFinals60x60</string>
					<string>Seasonal-Icon-NBAFinals76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-NBAFinals</string>
			</dict>
			<key>Seasonal-Icon-Nba1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Nba160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Nba1</string>
			</dict>
			<key>Seasonal-Icon-Nba2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Nba260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Nba2</string>
			</dict>
			<key>Seasonal-Icon-Ncaa</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Ncaa60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Ncaa</string>
			</dict>
			<key>Seasonal-Icon-NewZealandPride1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-NewZealandPride160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-NewZealandPride1</string>
			</dict>
			<key>Seasonal-Icon-NewZealandPride2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-NewZealandPride260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-NewZealandPride2</string>
			</dict>
			<key>Seasonal-Icon-PrideMonth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-PrideMonth60x60</string>
					<string>Seasonal-Icon-PrideMonth76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-PrideMonth</string>
			</dict>
			<key>Seasonal-Icon-PrideSouthern</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-PrideSouthern60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-PrideSouthern</string>
			</dict>
			<key>Seasonal-Icon-Ramadan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Ramadan60x60</string>
					<string>Seasonal-Icon-Ramadan76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Ramadan</string>
			</dict>
			<key>Seasonal-Icon-SouthSpring2021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-SouthSpring202160x60</string>
					<string>Seasonal-Icon-SouthSpring202176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-SouthSpring2021</string>
			</dict>
			<key>Seasonal-Icon-SouthSpring2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-SouthSpring202260x60</string>
					<string>Seasonal-Icon-SouthSpring202276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-SouthSpring2022</string>
			</dict>
			<key>Seasonal-Icon-StPatricksDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-StPatricksDay60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-StPatricksDay</string>
			</dict>
			<key>Seasonal-Icon-StanleyCup</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-StanleyCup60x60</string>
					<string>Seasonal-Icon-StanleyCup76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-StanleyCup</string>
			</dict>
			<key>Seasonal-Icon-Summer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Summer60x60</string>
					<string>Seasonal-Icon-Summer76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Summer</string>
			</dict>
			<key>Seasonal-Icon-Summer1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Summer160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Summer1</string>
			</dict>
			<key>Seasonal-Icon-Summer2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Summer260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Summer2</string>
			</dict>
			<key>Seasonal-Icon-Thanksgiving1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Thanksgiving160x60</string>
					<string>Seasonal-Icon-Thanksgiving176x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Thanksgiving1</string>
			</dict>
			<key>Seasonal-Icon-Thanksgiving2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Thanksgiving260x60</string>
					<string>Seasonal-Icon-Thanksgiving276x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Thanksgiving2</string>
			</dict>
			<key>Seasonal-Icon-Winter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Winter60x60</string>
					<string>Seasonal-Icon-Winter76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Winter</string>
			</dict>
			<key>Seasonal-Icon-Winter1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Winter160x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Winter1</string>
			</dict>
			<key>Seasonal-Icon-Winter2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-Winter260x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-Winter2</string>
			</dict>
			<key>Seasonal-Icon-WomansDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Seasonal-Icon-WomansDay60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Seasonal-Icon-WomansDay</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon_rounded</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Icon</string>
		</dict>
	</dict>
</dict>
</plist>
